.body-container {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--neutral-2);
    background-color: var(--primary-2);
    min-height: 100vh;
}

/* 
Unidades relativas a la pantalla del dispostitvo de salida*
v --> viewport  h --> height  w --> width

vh --> viewport height
vw --> viewport widhh
*/

.container {
    display: flex;

    max-width: var(--width-desktop);
    /*min-width: var(--max-width-mobile); */

    height: 90vh;
    margin: auto 10%;
    border-radius: var(--border-radius);
    background-color: var(--neutral-3);
    color: var(--neutral-2);
}

/* .container>* {
    flex: 1 1 50%;
  } */

.seccion {
    width: 50%;
} 

.product-mobile {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: none;
}

.product-desktop {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: block;
}

div.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 6%;
}

/* Crear el texto PERFUME que no aparecía en el html 
con ::after ó ::before
*/
/* 
.pie_foto {
    margin-left: 5%;
    margin-top: 5%;
    letter-spacing: .5em;
} 
*/
.text::before {
content: 'perfume';
display: block;
text-transform: uppercase;
letter-spacing: .5em;
}

.main-text {
    padding-bottom: 1.6em;
    text-align: left; 
    line-height: 2em;
}

.main-title,
.price {
    font-family: 'Fraunces', serif;
    font-size: 2.4em;
    font-weight: 700;
}

.main-title {
    margin: .5em 0;
    line-height: 1.2em;
    color: var(--neutral-1);
}

.price {
    color: var(--primary-1);
    margin-right: .6em;
}

.comprar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 

/* .price-del{vertical-align: middle;} */

.cart {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1em;
    margin-top: 2em;
    font-weight: 700;
    color: var(--neutral-3);
    background-color: var(--primary-1);
    border-radius: var(--border-radius);
}

.cart:hover{
    background-color: var( --neutral-1);
}

.cart img {
    margin-right: 1em;
}

/* Media queries */

@media (max-width: 375px) {
    body {
        font-size: clamp(.8rem, 5vw, .8rem); 
    }
 
    .container {
        display: block;
        height: auto;
        margin: 2%;
    }

    .product-desktop {
        display: none;
    }

    .product-mobile {
        display: block;
    }

    .seccion {
        width: 100%;
    }
    
    .cart {
       margin-top: 1.1em;
    }
        
}